<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>首页</title>
        <meta charset="utf-8">
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/font-awesome.min.css" th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet">
        <link href="css/bootstrap.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" th:href="@{/asserts/css/bootstrap-theme.min.css}" rel="stylesheet">
        <link href="css/templatemo_style.css" th:href="@{/asserts/css/templatemo_style.css}" rel="stylesheet">
    </head>

    <body>
        <h1>Hello</h1>
    </body>

</html>